<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.softmiracle.githubmvp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".SempraApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/SempraTheme_light">
        <activity
            android:name=".screen.start.StartActivity"
            android:launchMode="singleTask"
            android:theme="@style/SempraTheme_light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screen.user.ProfileActivity"
            android:parentActivityName=".screen.home.HomeActivity"
            android:theme="@style/SempraTheme_light" />
        <activity
            android:name=".screen.login.LoginActivity"
            android:launchMode="singleTask"
            android:theme="@style/SempraTheme_light" />
        <activity
            android:name=".screen.home.HomeActivity"
            android:theme="@style/SempraTheme_light" />
        <activity
            android:name=".screen.repo.RepositoryActivity"
            android:parentActivityName=".screen.user.ProfileActivity"
            android:theme="@style/SempraTheme_light" />
        <activity
            android:name=".screen.user.followers.FollowersActivity"
            android:parentActivityName=".screen.user.ProfileActivity"
            android:theme="@style/SempraTheme_light" />
        <activity
            android:name=".screen.user.following.FollowingActivity"
            android:parentActivityName=".screen.user.ProfileActivity"
            android:theme="@style/SempraTheme_light" />
        <activity
            android:name=".screen.starred.repoStarred.RepoStarredActivity"
            android:parentActivityName=".screen.repo.RepositoryActivity"
            android:theme="@style/SempraTheme_light" />
        <activity
            android:name=".screen.repo.repoDetail.watchers.WatchersActivity"
            android:parentActivityName=".screen.repo.RepositoryActivity"
            android:theme="@style/SempraTheme_light" />
    </application>

</manifest>